
{%- liquid

    #
    #   Layout : ğ—§ğ—µğ—²ğ—ºğ—²
    #

-%}


<!doctype html>
<html>
    <head>

        <meta charset = utf-8 >

        <title> DoomCommerce </title>

        {{ content_for_header }}

    </head>
    <body>

        {{ content_for_layout }}

    </body>
</html>
